<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="#aboutModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title block-text" id="aboutModalLabel">Who we are and What we do</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body block-text">

            <section>
                <h3>The Story of Crafty</h3>
                <p>Crafty is not just a company, it's a labor of love. We are dedicated to creating high-quality, handcrafted felt toys that bring joy and happiness to babies, toddlers, and children around the world. Our passion for creating these unique toys stems from a desire to provide little ones with the best tools for learning, development, and play.</p>
                <h5 class="font-weight-bold">Our Journey</h5>
                <p>Crafty was founded by a group of friends who shared a common love for crafting and a belief in the power of handmade toys. What started as a small hobby soon turned into a full-fledged business as we realized the impact our toys had on children and families.</p>
                <h5 class="font-weight-bold">Our Mission</h5>
                <p>At Crafty, our mission is simple: to create toys that inspire creativity, foster imagination, and encourage play. We believe that every child deserves to have access to high-quality, safe, and engaging toys that not only entertain but also educate.</p>
                <h5 class="font-weight-bold">Our Process</h5>
                <p>Each of our felt toys is meticulously handcrafted by skilled artisans who take pride in their work. From designing and cutting the felt to stitching and stuffing, every step of the process is done with care and attention to detail. We use only the finest materials to ensure that our toys are not only beautiful but also durable and safe for little ones to play with.</p>
                <h5 class="font-weight-bold">Our Products</h5>
                <p>From adorable animal finger puppets to interactive playsets, Crafty offers a wide range of felt toys that are perfect for babies, toddlers, and children of all ages. Our toys are designed to stimulate the senses, promote fine motor skills, and spark imagination. Whether your little one is exploring the world for the first time or engaging in imaginative play, Crafty has the perfect toy for every stage of development.</p>
                <p>Crafty also offers custom made-to-order toys and party bag fillers, allowing you to create unique and personalized gifts for your child or for special occasions like birthday parties. This service adds an extra touch of customization and exclusivity to your toy collection or party favors.</p>
            
            
            </section>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>