<div class="modal fade" id="resourcesModal" tabindex="-1" role="dialog" aria-labelledby="resourcesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title block-text" id="resourcesModalLabel">External resources</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body block-text">

            <section>
                <h3>Your child's development</h3>
                <p>Because we are concerned about the development of your children as well as ours, we have compiled a series of articles on the topic that we found interesting.</p>
                
                <hr>
                <a href="https://www.unicef.org/early-childhood-development" target="_blank"><h5 class="font-weight-bold">Early childhood development</h5></a>
                <p class="source">Unicef</p>
                <hr>

                <a href="https://developingchild.harvard.edu/guide/what-is-early-childhood-development-a-guide-to-the-science/" target="_blank"><h5 class="font-weight-bold">What Is Early Childhood Development?</h5></a>
                <p class="source">Harvard University</p>

                <hr>

                <a href="https://www.mayoclinichealthsystem.org/hometown-health/featured-topic/5-ways-slimming-screen-time-is-good-for-your-health" target="_blank"><h5 class="font-weight-bold">5 ways slimming screen time is good for your health</h5></a>
                <p class="source">Mayo Clinic</p>

                <hr>

                <a href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/5-tips-to-manage-adhd-in-children" target="_blank"><h5 class="font-weight-bold">5 tips to manage ADHD in children</h5></a>
                <p class="source">Mayo Clinic</p>

                <hr>

                <a href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/practical-ways-to-raise-confident-kids" target="_blank"><h5 class="font-weight-bold">Practical ways to raise confident kids</h5></a>
                <p class="source">Mayo Clinic</p>

                <hr>

                <a href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/what-is-adhd" target="_blank"><h5 class="font-weight-bold">What is attention-deficit/hyperactivity disorder?</h5></a>
                <p class="source">Mayo Clinic</p>              
            </section>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>